body {
	background-color: #3399cc;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:  white;
}

#screen {
    box-sizing:  border-box;
    width: 100%;
    height: 100%;
    border: 10px solid #2b81ac;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    position: fixed;    
}

.container {
	width: 60%;
	margin: 0 auto; 
	position: absolute;
	left: 50%;
	top:  50%;
	transform: translate(-50%, -50%); /*отцентровать*/
} 

ul:hover li:not(:hover) {
    opacity: .4;
    transition: .5s ease; /*плавный переход */
}

.city {
	min-width: 382px; 
	font-size: 0;
	padding: 0;
	border: 2px solid white;
	
}

.city li {
	list-style: none;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	border: 2px solid white;
	box-sizing: border-box;
	padding: 2ch;
}

.big {
	width: 100%;	
}

.medium {
	width:  50%;	
}

.small {
	width:  25%;	
}

.city li span {
	opacity: .5;
	display: block;
	padding-top: 10px;
}

.city li span i {
	font-size: 25px;
}	

.color2{
	background-color: #33cccc;
}

.color3{
	background-color: #996699;
}

.color4{
	background-color: #c24747;
}

.color5{
	background-color: #e2674a;
}

.color6{
	background-color: #ffcc66;
}

.color7{
	background-color: #99cc99;
}

.color8{
	background-color: #669999;
}

.color9{
	background-color: #cc6699;
}

.color10{
	background-color: #339966;
}

.color11{
	background-color: #666699;
}

p {
	font-size: 14px;
	padding-top: 10px; 
}